<?xml version="1.0"?>
<launch>
  <arg name="serial_no" default="135622076024"/>
  <arg name="camera_name" default="d435"/>
  <arg name="color_width" default="1280"/>
  <arg name="color_height" default="720"/>
  <arg name="color_fps" default="30"/>
  <arg name="enable_depth" default="false"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="camera" value="$(arg camera_name)"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_depth" value="$(arg enable_depth)"/>
    <arg name="enable_infra" value="false"/>
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="align_depth" value="false"/>
    <arg name="enable_sync" value="false"/>
    <arg name="color_width" value="$(arg color_width)"/>
    <arg name="color_height" value="$(arg color_height)"/>
    <arg name="color_fps" value="$(arg color_fps)"/>
  </include>
</launch>
