<?xml version="1.0"?>
<launch>
  <arg name="marker_id" default="582"/>
  <arg name="marker_size" default="0.048"/>
  <arg name="camera_frame" default="camera_color_optical_frame"/>
  <arg name="marker_frame" default="aruco_marker_frame"/>
  <arg name="image_topic" default="/camera/color/image_rect_color"/>
  <arg name="camera_info_topic" default="/camera/color/camera_info"/>

  <!-- D455 publishes five plumb_bob coefficients, while aruco_ros 3.1.4 only
       accepts four. Rectify with image_proc first so no coefficient is lost. -->
  <node pkg="image_proc" type="image_proc" name="image_proc" ns="/camera/color" output="screen"/>

  <node pkg="aruco_ros" type="single" name="aruco_single" output="screen">
    <remap from="/image" to="$(arg image_topic)"/>
    <remap from="/camera_info" to="$(arg camera_info_topic)"/>
    <param name="image_is_rectified" value="true"/>
    <param name="marker_size" value="$(arg marker_size)"/>
    <param name="marker_id" value="$(arg marker_id)"/>
    <param name="dictionary" value="ARUCO"/>
    <param name="detect_without_subscribers" value="true"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="reference_frame" value="$(arg camera_frame)"/>
    <param name="marker_frame" value="$(arg marker_frame)"/>
    <param name="min_marker_size" value="0.01"/>
  </node>
</launch>
